{% extends 'home.html' %}
{% load static %}
{% block title %}
<title>Kredify | About</title>
{% endblock %}
{% block content %}

<div class="about-heading">
    <h1> About Us</h1>
    <a class="text-center text-light footer-list text-decoration-none email-hover" href="/">Home</a>
</div>
<!--clear-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-12 about-div ">
            <h2 class="head">Discover About Us At A Glance</h2>
            <p class="about-text">Kredify is a new-age digital lending platform that leverages state-of-the-art
                technology and data sciences to facilitate a safe and hassle-free means for borrowing money. Our aim is
                to foster financial inclusion by leveraging technology, thereby taking care of your immediate financial
                needs in a speedy manner.
                <br><br>
                Our products are designed to cater to the needs of various customer segments. We are based out of Noida,
                and having pour presence in Delhi, Ghaziabad, Gurgaon and Noida itself, with our primary focus on
                providing loans to those who are looking for a quick line of credit. The repayment EMI options on our
                loan products are designed keeping our customers’ ease in mind. Our team consists of highly professional
                personnel s with many years of<br><br> experience in the fields of Banking, Finance and Technology. We
                strive to extend our clients a neat experience to avail a line of credit without any hiccups. Our
                responsible lending norms ensure that you borrow only what you require for a given purpose. We believe
                in quick and effective service. So, we make sure to respond to every query immediately.<br>
                Kredify is committed to serve you. Be it a sudden emergency or cash crunch or an unplanned expense
                coming your way; Kredify assures to cater your needs in a handsome and transparent way.
                <br><br>
                We at Kredify, are on a journey to equip our customers with a hassle free online transaction system
                while solving all your financial issues. A one stop solution for your funding aspect, we are driven by
                the principle of customer relationship and efficient financial management.
            </p>

        </div>
        <div class="col-xl-6 col-12 second-col">
            <img src="{% static 'images/image1.jpg' %}" height="50%" width="100%" alt="Banner"><br><br>
            <p class="about-text">Technology makes anything possible in this age of trends; Kredify looks forward to
                connect this idea to your wallets and bank accounts. Apply, Avail, Quick disbursement and here it is,
                funds right at your doorstep with zero hidden or additional costs.
                <br><br>
                An unanticipated financial shortage puts you in a fix and you end up paying more than what you borrowed;
                Kredify firmly objects this practice. In today’s tech savvy world, you deserve a platform which assists
                you while you are targeted by financial challenges; Kredify is the aid.
                <br><br>
                We at Kredify ensure effortless and transparent borrowing for your safe & secured financial future. We
                value our client’s needs, we strive to hold your hand and sail you through a journey of financial
                security anytime and every time.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h2 class="head text-center">Our Vision & Belief</h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-12 second-col">
            <div class="vision">
                <img src="{% static 'images/vision.webp' %}" width="100px" height="60px" alt=""><br>
                <p class="footer-list">Vision</p>
                Trust, Integrity, Transparency and Excellence are at the core foundation of our institution.
                To be the Most Trusted Financial Services Brand.
            </div>

        </div>
        <div class="col-xl-6 col-12 ">
            <div class="vision">
                <img src="{% static 'images/mission.jpg' %}" width="100px" height="60px" alt=""><br>
                <p class="footer-list ">Mission</p>
                To help Individuals & Businesses- Achieve More by offering the “Best-in-class customer-centric products
                and
                solutions” most conveniently.
            </div>
        </div>
    </div>
</div>
{% endblock %}